/*Page background and font settings for all pages*/
body{
	font-family: arial, sans-serif;
	background: url("images/background.jpg");
}

*{
	padding: 0px;
	margin: 0px;
}


/*Main Navigation Tab For All Pages*/

#maindiv{	
	width: 100%;
	height: 700px;
	background: #3d475f;
	background-size: cover;	
}

#navdiv{
	opacity: 0.9;
	filter: (opacity=70);
}

#navdiv ul{
	width: 100%;
	height: 80px;
	background: #505050;
	line-height: 80px;
	color: white;
	margin-right: 15px;
	
}

#navdiv ul a{
	text-decoration: none;
	color: white;
	padding: 20px;
}

#navdiv ul li {
	list-style-type: none;
	display: inline-block;
	float: right;
}

#navdiv ul li:hover{
	background: #b1b1b1;
	transition: all 0.20s;
}

#navdiv h1{
	width: 300px;
	float: left;
	cursor: pointer;
	margin-left: 15px;
}



/*Home Page CSS*/
#centerpagehome {	
	background: gray;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 50em;
	height: 50em;
}

#centerlist ul{
	width: 100%;
	height: 80px;	
	padding-left: 30px;
	color: white;
	margin-right: 15px;	
}

#centerp {
	width: 100%;		
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin-right: 15px;	
}




/*Courses Page CSS*/
#centerpagecourses {
	background: gray;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 50em;
	height: 60em;
}

#coursestab ul{			
	font-weight: italic;
	padding-left: 35px;
	font-size: 15px;
	color: white;
	
}

#coursestab h3{	
	font-size: 18px;
	color: white;
	
}



/*Contact Page CSS*/
#centerpagecontact {
	background: gray;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 50em;
	height: 50em;
}
#centerpagecontactinfo  {
	text-align: center;
}


/*SIUColors Page CSS*/
#centerSIUColorspage {
	background: #FFFFFF;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 50em;
	height: 65em;
}
#SIUText{
	color: #2F2F2F;
	text-align: center;
	
}
#SIUText h1{
	color: #ffa800;
}


#SIUText a{
	color: #720030;
	text-align: center;
	
}
#SIUText hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: bold;
    border-width: 2px;
}

#SIUNav{
	opacity: 0.9;
	filter: (opacity=70);
}

#SIUNav ul{
	width: 100%;
	height: 80px;
	background: #660000;
	line-height: 80px;
	color: white;
	margin-right: 15px;	
}

#SIUNav ul a{
	text-decoration: none;
	color: white;
	padding: 20px;
}

#SIUNav ul li {
	list-style-type: none;
	display: inline-block;
	float: right;
}

#SIUNav ul li:hover{
	background: #000000;
	transition: all 0.20s;
}

#SIUNav h1{
	width: 300px;
	color: #ffa800;
	float: left;
	cursor: pointer;
	margin-left: 15px;
}

#background{
background: #D9D6CC;
}

#Temperatures {    
      width: 16em;
	  float: left;	
  
  }
#Temperatures form{    
      width: 16em;
	  float: left;	  
  }

#Math {
  width: 16em;
  float: left;	 
}
  
#Math form{
	width: 16em;
	float: left;	 	
}
  
#Fun{
	width: 18em;
	float: left;
}
  
#Fun form{
	width: 18em;
	float: left;	 
}
  
#SIUfooter {
	background: #2F2F2F;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: auto;
	height: auto;
}






#linkcolor{
	color: white;
	
}

/*Footer For All pages*/
#footer {
	background: gray;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 50em;
	height: auto;
}


/*Video Player CSS*/

#centerpagevideo{
	background: gray;
	color: white;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	width: 50em;
	height: 65em;
}

#centerpagevideo h2 {
	text-align: center;	
	
}
#centerpagevideo p {
	text-align: center;	
	
}

#favorites h2{
	text-align: center;	
	
}
#favorites p{
	text-align: left;	
}

#favorites ul{			
	font-weight: italic;
	padding-left: 35px;
	font-size: 15px;
	color: white;	
}
#restaurants {
	width: 22em;
	float: left;	 	
}
#restaurants img{
	width: 150px;
	height: 150px;
	 	
}


#places {
	width: 16em;
	float: left;	 	
}

#places img{
	width: 150px;
	height: 150px;
	 	
}

#enjoy {
	width: 12em;
	float: left;	 	
}

#enjoy img{
	width: 150px;
	height: 150px;
	 	
}

#player {
	background-color: rgb(30, 30, 30);
	display: block;
	margin: 0 auto; 
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
#player img {
	background-color: rgb(70, 70, 70);
}
#player img:hover {
	background-color: rgb(50, 170, 220);
}
#player img, #pbar-container, #sbar-container {
	cursor: pointer;
}

/* The Containers */

#video-container {
	width: 0 auto;
	height: 500px;
	position: relative;
}
	video {
		height: 100%;
		width: 100%;
		
	}
	#screen {
		height: 100%;
		width: 100%;
		line-height: 360px;
		text-align: center;
		position: absolute;
		z-index: 1 !important;

		background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.01) 1%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(0,0,0,0)), color-stop(1%,rgba(0,0,0,0.01)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* IE10+ */
		background: radial-gradient(ellipse at center,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.01) 1%,rgba(0,0,0,0.65) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
		#screen img {
			vertical-align: middle;
		}

#pbar-container {
	margin-top: 2px;
	padding-bottom: 2px;
	background-color: rgb(70, 70, 70);
}
	#pbar {
		height: 5px;
		width: 0%;
		background-color: rgb(50, 170, 220);
	}

#buttons-container {
	height: 50px;
}
	#buttons-container > * {
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin: 0 10px;
	}
	#time-field {
		color: rgb(50, 170, 220);
		line-height: 50px;
		cursor: default;
	}
	#sound-button {
		margin-right: 0;
	}
	#sbar-container {
		margin-left: 0;
		width: 100px;
		height: 5px;
		background-color: rgb(70, 70, 70);
	}
		#sbar {
			height: 100%;
			width: 100%;
			background-color: rgb(50, 170, 220);
		}
	#fullscreen-button {
		float: right;
	}
